# ------------------------
# Liting
*.pyc
__pycache__/
*/__pycache__/
.DS_Store

vanilla_training/baseline.py
vanilla_training/check_audio_chunk.py
vanilla_training/*.csv
vanilla_training/generated_transcripts_processing.py
vanilla_training/wer.py

# ------------------------