# ------------------------
# Liting
*.pyc
__pycache__/
*/__pycache__/
.DS_Store
*.log
*.err
*.out
output.log

training/baseline.py
training/check_audio_chunk.py
training/*.csv
training/generated_transcripts_processing.py
training/wer.py
training/*.sh

# ------------------------
training/myjob.44890129.err
training/myjob.44890129.out
